### Java ###
*.class
*.jar
*.war
*.ear

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
mvnw
mvnw.cmd

### IDEs ###
# IntelliJ
.idea/
*.iml
# Eclipse
.project
.classpath
.settings/
# VS Code
.vscode/

### Logs ###
logs/
*.log
*.out

### OS ###
.DS_Store
Thumbs.db

### Env / Config ###
# Secrets and keys
# application.properties
# application.yml
.env
.env.local
pfm-service-account.json

# Backup files
*.bak
*.tmp
